div class="container"
  div id="calendar"

javascript:
  $(document).ready(function () {
    var lastView;
    var day = new Array();
    var month = new Array();
    var calendar_events = #{{calendar_events}};
    console.log(calendar_events)

    var event_list = []
    calendar_events.forEach(function(data, i){
      event = {
        title: data[0],
        description: data[1],
        start: data[2],
        end: data[3],
      }

      event_list.push(event);
    });
 
    $('#calendar').fullCalendar({
      header: {
        left: 'prev,next today',
        center: 'title',
        right: 'month,agendaWeek,agendaDay'
      },   
      defaultView: 'month',
      timeFormat: 'H:mm',
      eventColor: 'green',
      eventTextColor: '#ffffff',
      dayNamesShort: ['Sun', 'Mon', 'Tue', 'Wed', 'Thu', 'Fri', 'Sat'],
      dayNames: ['Sunday', 'Monday', 'Tuesday', 'Wednesday', 'Thursday', 'Friday', 'Saturday'],
    
      events: event_list,
    });
    console.log(month);
    $('#calendar').fullCalendar('addEventSource', month);
    $('#calendar').fullCalendar('rerenderEvents');
	}); 